#root {
  margin: 0 auto;
  /* padding: 2rem 6rem 0rem 6rem; */
  text-align: center;
  /* background-image: url('client/public/17A-Event_Management.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #888;
  min-height: 100vh; 
}


